<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          Dealing center
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <div *ngIf="!secondScreen">
            <header>
              <h3>Change password</h3>
            </header>
            <div class="widget-body">
              <form class="login-form mt-lg"
                    [formGroup]="form">
                <div class="form-group"
                     [ngClass]="{'has-error':!form.controls['password'].valid && form.controls['password'].touched}">
                  <input class="form-control" type="password" placeholder="Password" name="password"
                         [formControl]="form.controls['password']">
                </div>
                <div class="form-group" *ngIf="formErrors.password">
                  <div class="alert alert-danger">
                    {{ formErrors.password }}
                  </div>
                </div>
                <div class="form-group" *ngIf="serverNonFieldErrorMessage">
                  <div class="alert alert-danger">
                    {{ serverNonFieldErrorMessage }}
                  </div>
                </div>
                <div class="clearfix">
                  <div class="btn-toolbar pull-xs-right m-t-1">
                    <button type="button" (click)="submitForm(form.value)" class="btn btn-secondary btn-sm">Change password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="secondScreen">
            <header>
              <h3>Password was changed</h3>
            </header>
          </div>
          <div>
            <a class="btn btn-inverse btn-sm" [routerLink]="['/login'] ">Login</a>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
