<h1 class="page-title">Orders</h1>

<div class="row">
  <div class="col-xs-12 col-xl-6 orders-container">
    <section widget class="widget">
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn" (click)="switchOrderStatus(1)" [disabled]="!closedOrders">Opened</button>
          <button class="btn" (click)="switchOrderStatus(2)" [disabled]="!!closedOrders">History</button>
          <label class="btn btn-info" [class.active]="orderFilter.buy">
            <input type="checkbox"
                   class="filter-active"
                   (click)="applyFilter(1)"
            >
            Buy
          </label>
          <label class="btn btn-warning" [class.active]="orderFilter.sell">
            <input type="checkbox"
                   class="filter-active"
                   (click)="applyFilter(2)"
            >
            Sell
          </label>
        </div>
      </div>
      <div class="widget-body">
        <div class="table-orders-container">
          <table *ngIf="closedOrders || openedOrders" class="table table-orders">
            <th *ngFor="let header of tableHeaders">
              <a (click)="header.sortable && setSorting(header.fieldName)">
                {{header.displayName}}
                <span [hidden]="sortOptions.sortType != header.fieldName || sortOptions.sortReverse"
                      class="fa fa-caret-down"></span>
                <span [hidden]="sortOptions.sortType != header.fieldName || !sortOptions.sortReverse"
                      class="fa fa-caret-up"></span>
              </a>
            </th>
            <tr [class.active]="order.id == curIdOrder"
                *ngFor="let order of closedOrders || openedOrders | orderPipe : orderFilter"
                (click)="onChangeCurOrder(order, $event)">
              <td>{{ order.id }}</td>
              <td>{{ order.start_time | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
              <td>{{ order.currency_pair.name }}</td>
              <td class="order-type-buy" *ngIf="isBuyType(order)">Buy</td>
              <td class="order-type-sell" *ngIf="!isBuyType(order)">Sell</td>
              <td *ngIf="isOpened(order)">Opened</td>
              <td *ngIf="!isOpened(order)">Closed</td>
              <td>{{ order.amount }}</td>
              <td [class.red]="order.end_profit <= 0"
                  [class.green]="order.end_profit > 0"
              >{{ round(order.end_profit) }}
              </td>
              <td><a class="btn btn-success btn-sm" *ngIf="order.status === 1" (click)="closeOrder(order)">Close</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </div>
  <div class="col-xs-12 col-xl-6">
    <div nvd3-chart [chart]="nvd3Chart" [datum]="nvd3Data">
      <svg></svg>
    </div>
  </div>
</div>
