@import "../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/nvd3/build/nv.d3";

.orders tr {
  cursor: pointer;
}

.event {
  background: $white;
  border-radius: $border-radius;
  padding: 20px 20px;
  position: relative;
}

.submit {
  margin-left: 60px;
}

.order-type-buy {
  color: #0D3349;
  font-weight: bold;
}

.order-type-sell {
  color: #2aa198;
  font-weight: bold;
}

.filter-active {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  pointer-events: none !important;
}
/***********************/
/*         NvD3        */
/***********************/

.nvtooltip {
  padding: $padding-small-vertical $padding-small-horizontal;
  font-family: $font-family-base;
  font-size: $font-size-sm;
  text-align: center;

  p{
    margin: 0;
    padding: 0;
  }

  h3{
    background: none;
    border-bottom: 0;
  }
}

svg text {
  font: $font-weight-base $font-size-sm $font-family-base;
  fill: $text-color;
}

svg .title {
  font: $font-weight-bold $font-size-base $font-family-base;
}

.nvd3.nv-noData {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.nvd3 .nv-axis path.domain {
  stroke-opacity: 0;
}

.nv-controlsWrap{

  .nv-legend-symbol{
    fill: #666 !important;
    stroke: #666 !important;
  }
}

.active {
  background-color: rgba(65,117,171, 0.3);
}
