<h1 class="page-title">Orders</h1>

<div class="row">
  <div class="col-md-12">
    <section widget class="widget">
      <div class="widget-body">
        <table *ngIf="orders" class="table">
          <th *ngFor="let header of tableHeaders">
            <a (click)="header.sortable && setSorting(header.fieldName)">
              {{header.displayName}}
              <span [hidden]="sortOptions.sortType != header.fieldName || sortOptions.sortReverse" class="fa fa-caret-down"></span>
              <span [hidden]="sortOptions.sortType != header.fieldName || !sortOptions.sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>

          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.start_time | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ order.currency_pair.name }}</td>
            <td class="order-type-buy" *ngIf="order.type === 1">Buy</td>
            <td class="order-type-sell" *ngIf="order.type !== 1">Sell</td>
            <td *ngIf="order.status === 1">Opened</td>
            <td *ngIf="order.status !== 1">Closed</td>
            <td>{{ order.amount }}</td>
            <td [class.red]="order.profit <= 0"
                [class.green]="order.profit > 0"
            >{{ order.profit.toFixed(rankRound) }}</td>
            <td><a *ngIf="order.status === 1" (click)="closeOrder(order)">Close</a></td>
          </tr>
        </table>
      </div>
    </section>
  </div>
</div>
