@import "../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.event {
  background: $white;
  border-radius: $border-radius;
  padding: 20px 20px;
  position: relative;
}

.submit {
  margin-left: 60px;
}

.order-type-buy {
  color: #0D3349;
  font-weight: bold;
}

.order-type-sell {
  color: #2aa198;
  font-weight: bold;
}

.filter-active {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  pointer-events: none !important;
}
