<div class="container-fluid">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-7 offset-sm-1 offset-md-0">
        <div class="jumbotron">
          <h1 class="display-3">Hello, this is a Dealing center!</h1>
          <p class="lead">Dealing center is an organisation that allows making a deals on Forex.
            Traders do nothing on Forex, instead of them dealing center is doing this. Trader tells dealing center to make some deals.
            Our service will help you to learn trading.</p>
          <hr class="my-2">
          <p>To start trading you need register account. Put some money into account. That's it! You can start becoming a millionaire.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="http://google.com" role="button">Learn more</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 offset-sm-1 offset-md-0">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          Dealing center
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Login to your account</h3>
          </header>
          <div class="widget-body">
            <form class="login-form mt-lg"
                  [formGroup]="loginForm"
                  (ngSubmit)="submitForm(loginForm.value)">
              <div class="form-group"
                   [ngClass]="{'has-error':!loginForm.controls['email'].valid && loginForm.controls['email'].touched}">
                <input type="text" class="form-control" placeholder="Email" name="email"
                       [formControl]="loginForm.controls['email']">
              </div>
              <div class="form-group" *ngIf="formErrors.email">
                <div class="alert alert-danger">
                  {{ formErrors.email }}
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
                <input class="form-control" type="password" placeholder="Password" name="password"
                       [formControl]="loginForm.controls['password']">
              </div>
              <div class="form-group" *ngIf="formErrors.password">
                <div class="alert alert-danger">
                  {{ formErrors.password }}
                </div>
              </div>
              <div class="form-group" *ngIf="serverNonFieldErrorMessage">
                <div class="alert alert-danger">
                  {{ serverNonFieldErrorMessage }}
                </div>
              </div>
              <div class="clearfix">
                <div class="btn-toolbar pull-right m-t-1">
                  <button type="submit" class="btn btn-secondary btn-sm">Login</button>
                  <a class="btn btn-inverse btn-sm" [routerLink]="['/sing-up']">Create an Account</a>
                  <a class="btn btn-inverse btn-sm" [routerLink]=" ['/password-recovery'] "
                     href="#">Recovery password</a>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
