#candlestick-chart {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.chart .axis text {
    font: 12px Arial;
    fill: #555;
}

.chart .axis .domain,
.chart .axis .tick line {
    fill: none;
    stroke: #555;
}

.chart .bar path {
    stroke-width: 1;
}

.chart .bar.up-day path {
    stroke: grey;
}

.chart .bar.down-day path {
    stroke: grey;
}

.chart .bar.up-day rect {
    fill: #64bd63;
}

.chart .bar.down-day rect {
    fill: #dd5826;
}

.chart .overlay {
    stroke-width: 0px;
    fill-opacity: 0;
}

.navigator .data {
    fill: lightgrey;
    stroke-width: 0px;
}

.navigator .line {
    fill: none;
    stroke: darkgrey;
    stroke-width: 1px;
}

.navigator .viewport {
    stroke: grey;
    fill: black;
    fill-opacity: 0.2;
}

.btn-group > label {
    margin-bottom: 0;
}

input[name="order-type"] {
    position: absolute !important;
    clip: rect(0, 0, 0, 0) !important;
    pointer-events: none !important;
}
