<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div
        class="col-xs-10 offset-xs-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          Dealing center
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Create your personal account</h3>
          </header>
          <div class="widget-body">
            <form class="login-form mt-lg"
                  [formGroup]="signUpForm"
                  (ngSubmit)="submitForm(signUpForm.value)">
              <div class="form-group"
                   [ngClass]="{'has-error':!signUpForm.controls['first_name'].valid && signUpForm.controls['first_name'].touched}">
                <input type="text" class="form-control" placeholder="First Name" name="first_name"
                       [formControl]="signUpForm.controls['first_name']">
              </div>
              <div class="form-group" *ngIf="formErrors.first_name">
                <div class="alert alert-danger">
                  {{ formErrors.first_name }}
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!signUpForm.controls['second_name'].valid && signUpForm.controls['second_name'].touched}">
                <input type="text" class="form-control" placeholder="Second Name" name="second_name"
                       [formControl]="signUpForm.controls['second_name']">
              </div>
              <div class="form-group" *ngIf="formErrors.second_name">
                <div class="alert alert-danger">
                  {{ formErrors.second_name }}
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!signUpForm.controls['last_name'].valid && signUpForm.controls['last_name'].touched}">
                <input type="text" class="form-control" placeholder="Last Name" name="last_name"
                       [formControl]="signUpForm.controls['last_name']">
              </div>
              <div class="form-group" *ngIf="formErrors.last_name">
                <div class="alert alert-danger">
                  {{ formErrors.last_name }}
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!signUpForm.controls['email'].valid && signUpForm.controls['email'].touched}">
                <input type="email" class="form-control" placeholder="Email" name="email"
                       [formControl]="signUpForm.controls['email']">
              </div>
              <div class="form-group" *ngIf="formErrors.email">
                <div class="alert alert-danger">
                  {{ formErrors.email }}
                </div>
              </div>
              <div class="form-group picker-container col-md-12"
                   [ngClass]="{'has-error':!signUpForm.controls['birth_date'].valid && signUpForm.controls['birth_date'].touched}">
                <input id="picker" type="date" class="form-control datepicker" placeholder="Birthday" name="birth_date"
                       [formControl]="signUpForm.controls['birth_date']">
              </div>
              <div class="form-group" *ngIf="formErrors.birth_date">
                <div class="alert alert-danger">
                  {{ formErrors.birth_date }}
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!selectedCurrencyId && isAccountCurrencyTouched}">
                <ng-select placeholder="Account currency"
                           [items]="currencies"
                           (selected)="selectedCurrencyId=$event.id"
                           (click)="isAccountCurrencyTouched=true"
                ></ng-select>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!selectedSecretQuestionId && isSecretQuestionTouched}">
                <ng-select placeholder="Select secret question"
                           [items]="secretQuestions"
                           (selected)="selectedSecretQuestionId=$event.id"
                           (click)="isSecretQuestionTouched=true"
                ></ng-select>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!signUpForm.controls['answer_secret_question'].valid && signUpForm.controls['answer_secret_question'].touched}">
                <input class="form-control" type="text" placeholder="Secret question answer" name="answer_secret_question"
                       [formControl]="signUpForm.controls['answer_secret_question']">
              </div>
              <div class="form-group" *ngIf="formErrors.answer_secret_question">
                <div class="alert alert-danger">
                  {{ formErrors.answer_secret_question }}
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!signUpForm.controls['passwords'].controls['password'].valid &&
                   signUpForm.controls['passwords'].controls['password'].touched}">
                <input class="form-control" type="password" placeholder="Password" name="password"
                       [formControl]="signUpForm.controls['passwords'].controls['password']">
              </div>
              <div class="form-group" *ngIf="formErrorsPasswords.password">
                <div class="alert alert-danger">
                  {{ formErrorsPasswords.password }}
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!signUpForm.controls['passwords'].controls['confirm_password'].valid &&
                   signUpForm.controls['passwords'].controls['confirm_password'].touched}">
                <input class="form-control" type="password" placeholder="Confirm Password" name="confirm_password"
                       [formControl]="signUpForm.controls['passwords'].controls['confirm_password']">
              </div>
              <div class="form-group" *ngIf="formErrorsPasswords.confirm_password">
                <div class="alert alert-danger">
                  {{ formErrorsPasswords.confirm_password }}
                </div>
              </div>

              <div class="form-group" *ngIf="formErrors.passwords">
                <div class="alert alert-danger">
                  {{ formErrors.passwords }}
                </div>
              </div>
              <div class="form-group" *ngIf="serverNonFieldErrorMessage">
                <div class="alert alert-danger">
                  {{ serverNonFieldErrorMessage }}
                </div>
              </div>
              <div class="clearfix">
                <div class="btn-toolbar pull-xs-right m-t-1">
                  <button type="submit" class="btn btn-secondary btn-sm">Create an Account
                  </button>
                  <a class="btn btn-inverse btn-sm" [routerLink]="['/login'] ">Login</a>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
