<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a class="hide-on-nav-collapsed" href="index.html">{{config.name}}</a>
    <a class="show-on-nav-collapsed" href="index.html">{{config.shortName}}</a>
  </header>
  <ul class="sidebar-nav">
    <li>
      <a [routerLink]=" ['dashboard'] ">
      <span class="icon">
          <i class="fa fa-child"></i>
      </span>
        Home
      </a>
    </li>
    <li>
      <a [routerLink]=" ['orders-page'] ">
      <span class="icon">
          <i class="fa fa-tree"></i>
      </span>
        Orders
      </a>
    </li>
    <li>
      <a [routerLink]=" ['profile'] ">
      <span class="icon">
          <i class="fa fa-user"></i>
      </span>
        My account
      </a>
    </li>
  </ul>
</div>
