.page-title {
    text-align: center;
}

.list-group-item {
    font-size: 1.2em;
    text-align: center;
    line-height: 1;
}

.my-label {
    // font-size: 1.3em;
    font-weight: 400;
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 7px;
}