<h1 class="page-title">My account</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12"
         [ngClass]="setClassesProfileInfo()">
      <div class="info">
        <ul *ngIf="userInfo && account" class="list-group">
          <li class="list-group-item clearfix">
            <label class="my-label amount-label">Amount: </label><span class="amount">{{ account.amount }}</span>
            <div class="container pull-right">
              <div id="deposit-button" class="row">
                <button #deposit class="btn btn-primary btn-sm" data-target="#collapse-transfer-form"
                        (click)="collapseTransferForm(1, deposit)">Make a deposit
                </button>
              </div>
              <div class="row">
                <button #takeOff class="btn btn-primary btn-sm" data-target="#collapse-transfer-form"
                        (click)="collapseTransferForm(2, takeOff)">Take out
                </button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <label class="my-label">Account currency: </label>
            {{ account.currency.name }}
          </li>
          <li class="list-group-item">
            <label class="my-label">Email: </label>
            {{ userInfo.email }}
          </li>
          <li class="list-group-item">
            <label class="my-label">First Name:</label>
            {{ userInfo.first_name }}
          </li>
          <li class="list-group-item">
            <label class="my-label">Second Name:</label>
            {{ userInfo.second_name }}
          </li>
          <li class="list-group-item">
            <label class="my-label">Last Name:</label>
            {{ userInfo.last_name }}
          </li>
          <li class="list-group-item">
            <label class="my-label">Birth date:</label>
            {{ userInfo.birth_date }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-5 offset-xl-0 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12">
      <div id="collapse-transfer-form" class="collapse">
        <div class="card card-outline-info">
          <div class="card-block">
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
              <div class="panel-body">
                <form role="form" id="payment-form"
                      [formGroup]="makeTransferForm"
                      (ngSubmit)="makeTransfer(makeTransferForm)">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group"
                           [ngClass]="{'has-error':!makeTransferForm.controls['amount'].valid && makeTransferForm.controls['amount'].touched}">
                        <label for="amount">Amount</label>
                        <input type="text" class="form-control" name="amount" placeholder="Amount" autofocus
                               [formControl]="makeTransferForm.controls['amount']"/>
                      </div>
                      <div class="form-group" *ngIf="formErrors.amount">
                        <div class="alert alert-danger">
                          {{ formErrors.amount }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="cardNumber">CARD NUMBER</label>
                        <div class="input-group"
                             [ngClass]="{'has-error':!makeTransferForm.controls['cardNumber'].valid && makeTransferForm.controls['cardNumber'].touched}">
                          <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number"
                                 autocomplete="cc-number" required
                                 [formControl]="makeTransferForm.controls['cardNumber']"/>
                          <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="formErrors.cardNumber">
                        <div class="alert alert-danger">
                          {{ formErrors.cardNumber }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-7 col-md-7">
                      <div class="form-group"
                           [ngClass]="{'has-error':!makeTransferForm.controls['cardExpiry'].valid && makeTransferForm.controls['cardExpiry'].touched}">
                        <label for="cardExpiry">EXPIRATION DATE</label>
                        <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY"
                               autocomplete="cc-exp" required
                               [formControl]="makeTransferForm.controls['cardExpiry']"/>
                      </div>
                      <div class="form-group" *ngIf="formErrors.cardExpiry">
                        <div class="alert alert-danger">
                          {{ formErrors.cardExpiry }}
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-5 col-md-5 pull-right">
                      <div class="form-group"
                           [ngClass]="{'has-error':!makeTransferForm.controls['cardCVC'].valid && makeTransferForm.controls['cardCVC'].touched}">
                        <label for="cardCVC">CV CODE</label>
                        <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc"
                               required
                               [formControl]="makeTransferForm.controls['cardCVC']"/>
                      </div>
                      <div class="form-group" *ngIf="formErrors.cardCVC">
                        <div class="alert alert-danger">
                          {{ formErrors.cardCVC }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group" *ngIf="serverNonFieldErrorMessage">
                        <div class="alert alert-danger">
                          {{ serverNonFieldErrorMessage }}
                        </div>
                      </div>
                      <button class="subscribe btn btn-success btn-lg btn-block" type="submit"
                              [disabled]="!makeTransferForm.valid">
                        {{ transferType === 1 ? 'Deposit' : 'Take out' }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- CREDIT CARD FORM ENDS HERE -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
