.currency-pairs {
	background-color: #fff;
}

.currency-pairs > header {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.currency-pair{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.btn {
	margin-left: 10px;
}

.new-order {
	background: #fff;
	padding: 10px;
	width: initial;
}

.new-order > input {
	transition: box-shadow 1s;
}

.new-order-message {
	font-weight: bold;
	position: absolute;
	right: 10px;
	font-size: 16px;
}

.new-order-success {
	color: green;
}

.new-order-error {
	color: red;
}

.hide-order-success {
	visibility: hidden;
}

.hide-order-error {
	visibility: hidden;
}
