<h1 class="page-title">Home</h1>
<div class="row">
  <div class="col-md-3">
    <section class="currency-pairs">
      <header>
        <h4>
          Currency pairs
        </h4>
      </header>
      <div class="no-padding">
        <div class="list-group list-group-lg" *ngIf="currencyPairs">
          <a class="list-group-item list-group-item-blue" *ngFor="let currencyPair of currencyPairs"
             (click)="selectedPair = currencyPair"
             [class.active]="currencyPair === selectedPair">
            <div class="currency-pair">
              <div class="currency-pair-name">
                <h5>{{ currencyPair.name }}</h5>
              </div>
              <div class="currency-pair-value"
                   [class.red]="!currencyPair.isBigger"
                   [class.green]="currencyPair.isBigger">
                {{ round(currencyPair.last_value.bid) }} {{ round(currencyPair.last_value.ask) }}
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-9">
    <div class="new-order">
      <form class="form-inline"
            [formGroup]="createOrderForm"
            (ngSubmit)="createOrder(createOrderForm)">
        <div class="form-group"
             [ngClass]="{'has-error':!createOrderForm.controls['amount'].valid && createOrderForm.controls['amount'].touched}">
          <input type="text" class="form-control" name="amount"
                 [formControl]="createOrderForm.controls['amount']">
        </div>
        <div class="btn-group"
             [ngClass]="{'has-error':!createOrderForm.controls['order-type'].valid && createOrderForm.controls['order-type'].touched}">
          <label class="btn btn-secondary"
                 [class.active]="orderType === buy.value">
            <input id="option1" class="form-control" type="radio" name="order-type" value="1" autocomplete="off"
                   #buy
                   [formControl]="createOrderForm.controls['order-type']">Buy
          </label>
          <label class="btn btn-secondary"
                 [class.active]="orderType === sell.value">
            <input id="option2" class="form-control" type="radio" name="order-type" value="2" autocomplete="off"
                   #sell
                   [formControl]="createOrderForm.controls['order-type']">Sell
          </label>
        </div>
        <button type="submit" class="btn btn-success">Create order
        </button>
        <div class="form-group" *ngIf="serverNonFieldErrorMessage">
          <div class="alert alert-danger">
            {{ serverNonFieldErrorMessage }}
          </div>
        </div>
        <div class="form-group">
          <div *ngIf="formErrors.amount" class="alert alert-danger">
            {{ formErrors.amount }}
          </div>
        </div>
        <div class="form-group">
          <div class="alert alert-success" *ngIf="!hideOrderSuccess">
            Order has been created.
          </div>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" *ngIf="!hideOrderError">
            Order hasn't been created.
          </div>
        </div>
      </form>
    </div>

    <div candlestick-chart></div>

  </div>
</div>
