<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          Dealing center
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <div *ngIf="!secondScreen">
            <header>
              <h3>Recovery password</h3>
            </header>
            <div class="widget-body">
              <form class="login-form mt-lg"
                    [formGroup]="form"
                    (ngSubmit)="submitForm(form.value)">
                <div class="form-group"
                     [ngClass]="{'has-error':!form.controls['email'].valid && form.controls['email'].touched}">
                    <input type="text" class="form-control" placeholder="Email" name="email"
                           [formControl]="form.controls['email']">
                </div>
                <div class="form-group" *ngIf="formErrors.email">
                  <div class="alert alert-danger">
                    {{ formErrors.email }}
                  </div>
                </div>
                <div class="clearfix">
                  <div class="btn-toolbar pull-xs-right m-t-1">
                    <button type="submit" class="btn btn-secondary btn-sm">Recovery password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="secondScreen">
            <header>
              <h3>Email was sent to you.</h3>
            </header>
          </div>
          <div>
            <a class="btn btn-inverse btn-sm" [routerLink]="['/login'] ">Login</a>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
